<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translator</title>
</head>
<body>
    <div>
        <a href="/home" rel="noopener noreferrer">Go Back Home</a>
    </div>
    <div>
        <h1>{{ error }}</h1>
    </div>
</body>
</html>