*, html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1 {
    width: 60%;
    margin: 20% auto 0 auto;
    text-align: center;
    font-family: fantasy;
}
.home {
    width: 60%;
    margin: 3rem auto;
    text-align: center;
}
.main {
    width: 60%;
    margin: 3rem auto;
    text-align: center;
}
.field {
    margin: 2rem;
}